body {
	background: url(..assets/images/stars.png);
  	background-color: #80d8ff;
	font-family: 'Roboto', sans-serif;
}

#grad1 {
    height: 900px;
    background: -webkit-linear-gradient(rgba(109,207,246,1), rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(109,207,246,1), rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(109,207,246,1), rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(109,207,246,1), rgba(0,0,0,0)); /* Standard syntax (must be last) */
}

h1 {
	font-weight: 8rem;
	color: white;
	text-align: center;
	padding-top: 10%;
	font-style: bold;
}

p {
	text-align: center;
	font-weight: 100;
}

.connect {
	margin: auto;
}

img.social {
	max-width: 30px;
	margin-left: 15px;
	
}